<div class="col-md-3">
	<div class="panel box-body" style="background-color:#d9dde9">
		<p align="center"><font color=#3d0f28 size=4>All Details</font></p>
		<hr>
		<div class="form-group">
			<strong>
				<p><font color=#037126> {{ counts.group }} <span class="pull-right"> groups </span></font></p>
				<p><font color=#038070> {{ counts.user }} <span class="pull-right"> users</span></font></p>
				<p><font color=#0160a4> {{ counts.article }} <span class="pull-right"> articles</span></font></p>
				<p><font color=#7ca605> {{ counts.item }} <span class="pull-right"> items </span></font></p>
				<hr>
			</strong>
		</div>
	</div>
</div>
